body {
    background-color: #000000;
    overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vw;
}

main .casa {
    display: none;
    height: 100vh;
}

main .casa.selecionado {
    display: block;
}

main .casa .imagem {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

main .casa .portrait {
    position: absolute;
    top: 50px;
    left: 200px;
    height: 1200px;
    border-radius: 25px;

}

.conteudo {
    position: absolute;
    top: 0;
    right: 500px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 500px;
    z-index: 1;
    justify-content: center;
    font-size: 26px;

}

.conteudo .custom-btn {
    width: 180px;
    height: 60px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 24px;
    font-family: 'Rubik';
    font-weight: 400;
    background: rgb(96, 9, 240);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-1 {
    background: rgb(96, 9, 240);
    background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
    border: none;
}

.btn-1:before {
    height: 0%;
    width: 20px;
}

.btn-1:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}



.conteudo .nome-casa {
    color: #ffffff;
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;
}

.conteudo .descricao {
    color: #ffffff;
    font-family: "Rubik";
    line-height: 30px;
    font-size: 30px;
    padding-bottom: 30px;
}

.botoes {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 25%;
}

ul li {
    list-style-type: none;
}

.botoes .botao img {
    border-radius: 50%;
    background-color: transparent;
}

.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px #D9D9D9;
}